<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="../static/common/common::common_head(~{::title},~{::link},~{::style})">
    <title>Index</title>
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <style>
    </style>
</head>
<body>
<div class="container">
<div class="header">
header
</div>
<div class="main_body">
    <iframe src="" frameborder="0" id="index_main_body_frame" ></iframe>
</div>
<div class="footer">
    footer
</div>







</div>
<div th:replace="../static/common/common::common_footer"></div>
<script>
window.onload=()=>{
    document.getElementById("index_main_body_frame").src=window.contextPath+'/index/main/body/frame';
};
</script>
</body>

</html>